.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header__icon{
    object-fit: contain;
    height: 50px;
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header__center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 3px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.header__center  > input{
    border: none;    
    margin: 30px;
    outline-width: 0;    
}

.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18vw;
    margin-right: 80px;
}